<div class="bg-container">
<div class="profile-container container">
<div class="profile-bg-img">

<div class="pages-text">
<h2 >Edit your profile</h2>
</div>

{{#if error}}
<div class="alert alert-danger">
  {{error}}
</div>
{{/if}}

<div class="center">
<form action="/auth/profile/edit" method="post" enctype="multipart/form-data">
  <div class="about-forms row justify-content-sm-center align-items-sm-center">

  <div class="input">
    <label class="d-block">Username:</label>
    <input type="text" name="name" value="{{user.username}}">
  </div>
  <div class="input">
    <label class="d-block">Favorite drink:</label>
    <input type="text" name="favoriteDrink" value="{{user.favoriteDrink}}"> 
  </div>
  </div>

<div class="center">
 {{#if user.imgPath}}
  <div class="favorite-cafe">
    <div class="pic-div">
      <img src="{{user.imgPath}}" alt="Picture of user" class="profile-picture"><br>
    </div>
    <div class="upload">
      <label>Upload a picture</label>
      <input type="file" name="photo" class="profile-btns">
    </div>  
      {{/if}}
  </div>



  <button class="d-block profile-btns btn mt-4" type="submit">Update profile</button>
</div>

</form>




<div class="btn-div mb-2 mt-4">
  <a href="/auth/profile/"+{{user._id}} class="profile-btns btn">Back<a/>
</div>

</div>
</div>  
</div>
</div>