<div class="bg-container">
<div class="profile-container container">
<div class="profile-bg-img">

<div class="pages-text">
<h2 >Edit your profile</h2>
</div>

{{#if error}}
<div class="alert alert-danger">
  {{error}}
</div>
{{/if}}

<div class="center">
<form action="/auth/profile/edit" method="post" enctype="multipart/form-data">
  <div class="form-group">
  <div class="about-forms row justify-content-sm-center align-items-sm-center">

  <div class="input">
    <label class="d-block">Username:</label>
    <input class="form-control" type="text" name="name" value="{{user.username}}">
  </div>
  <div class="input">
    <label class="d-block">Favorite drink:</label>
    <input class="form-control" type="text" name="favoriteDrink" value="{{user.favoriteDrink}}"> 
  </div>
  </div>

<div class="center">
 {{#if user.imgPath}}
  <div class="favorite-cafe">
    <div class="pic-div">
      <img src="{{user.imgPath}}" alt="Picture of user" class="profile-picture"><br>
    </div>
    <div class="upload">
    <input type="file" name="photo" id="photo_upload" class="inputfile">
  <label class="profile-btns p-2 btn" for="photo_upload">Upload a picture</label>
    </div>  
      {{/if}}
  </div>
  <button class="d-block profile-btns btn mt-4 mb-2" type="submit">Save</button>
   <a href="/auth/profile/"+{{user._id}} class="profile-btns btn">Cancel<a/>
</div>
</div>
</form>


</div>
</div>  
</div>
</div>