<div class="profile-container">
<h2>About {{ username.username }}</h2>

<div class="about">
  <img src="{{username.imgPath}}" alt="Profile picture" height="100" class="profile-picture">

  <div class="about-text">
    <ul>
      <li><b>Username:</b> {{ username.username }}</li>
      <li><b>Email:</b> {{username.email}}</li>
      <li><b>My favorite drink:</b> {{username.favoriteDrink}}</li>
    </ul>
  </div>
</div>

<br>

<div class="profile-btns">
<button class="edit-profile-btn"><a href="/auth/profile/edit">Edit profile</a></button>
</div>


<h2>My favorite café</h2>

<div class="favorite-cafe">
  <img src="{{cafe.id.imgPath}}" alt=""><br>
  <button class="edit-profile-btn"><a href="/cafe/:id>">{{cafe.id.name}}</a></button>
</div>