<div class="profile-container">
<h2>About {{ username.username }}</h2>

<div class="about">
  <div class="pic-div">
    <img src="{{username.imgPath}}" alt="Profile picture" height="100" class="profile-picture">
  </div>

  <div class="about-text">
      <h5><b>Username:</b></h5>
      <p>{{ username.username }}</p>
      <h5><b>Email:</b></h5>
      <p>{{username.email}}</p>
      <h5><b>My favorite drink:</b></h5>
      <p>{{username.favoriteDrink}}</p>
  </div>
</div>

<div class="btn-div">
  <button class="profile-btns"><a href="/auth/profile/edit" class="profile-btns-a">Edit profile</a></button>
</div>


<h2>My favorite café</h2>

<div class="favorite-cafe">
  <div class="pic-div">
    <img src="{{cafe.id.imgPath}}" alt="Picture of favorite café" class="favorite-picture"><br>
  </div>
  <div class="btn-div">
    <button class="profile-btns"><a href="/cafe/:id>" class="profile-btns-a"></a>Show details</button>
  </div>
</div>