<div class="profile-container container">
<h2>{{ username.username }}</h2>

<div class="about row justify-content-sm-center align-items-sm-center">
  <div class="pic-div col-lg-4 col-xs-12">
    <img src="{{username.imgPath}}" alt="Profile picture" height="100" class="profile-picture">
  </div>

  <div class="about-text col-lg-8">
      <h5><b>Username:</b></h5>
      <p>{{ username.username }}</p>
      <h5><b>Email:</b></h5>
      <p>{{username.email}}</p>
      <h5><b>My favorite drink:</b></h5>
      <p>{{username.favoriteDrink}}</p>
  </div>
</div>

<div class="btn-div mb-2 mt-4">
  <a href="/auth/profile/edit" class="profile-btns btn">Edit profile<a/>
</div>

    {{#if cafe.imgPath}}
<h2>My favorite café</h2>
<div class="favorite-cafe">
  <div class="pic-div">
    <img src="{{cafe.imgPath}}" alt="Picture of favorite café" class="favorite-picture"><br>
  </div>
  div class="btn-div">
  <a href="/cafe/:id>" class="profile-btns btn">Show details<a/>
  </div>
    {{/if}}

</div>