<div class="container cafe-page">

  <div class="center">
<h2><strong>{{cafe.name}}</strong></h2>

<ul>
  <li><span class="bold">Adress:</span> {{{cafe.address}}}</li>
  <li><span class="bold">Wifi: </span> {{#if cafe.Wifi}}
    <i class="fas fa-check"></i> 
    {{else}}
    <i class="fas fa-times"></i>
    {{/if}}</li>
  <li><span class="bold">Power Sockets: </span> {{#if cafe.powerSockets}}
    <i class="fas fa-check"></i>
   {{else}}
    <i class="fas fa-times"></i>
    {{/if}}</li>
  <li><span class="bold">Opening hours: </span> {{cafe.openingHours.[0]}} - {{cafe.openingHours.[1]}}</li>
</ul>

{{#if cafe.imgPath}}
<img class="img-cafe mt-2 mb-2" src="{{cafe.imgPath}}">
{{/if}}

</div>


<div class="mt-4" id='mapCafe'></div>

<div class="row center-2-btns">
  <a href="/cafe/{{cafe._id}}/edit-cafe" class="profile-btns btn col-3 mr-2">Edit café</a> 
  <a href="/auth/cafe/{{cafe._id}}/add-comment" class="profile-btns btn col-3">Add comment</a> 
</div> 
<div class="comment-container center-2btns mt-4">

  {{#each cafe.comments}}
  <div class="comment">
  <p class="italic date mb-2">Created at: {{this.createdAt}}</p>
  <span class="italic">{{this._creator.username}}: </span>
  <span>{{this.content}}</span>
  </div>
  {{/each}}
</div>


</div>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
<script src="/javascripts/script.js"></script>


<script>

let cafeName = "{{{cafe.name}}}"
let coordinates = [{{{ coffeeLocation }}}]
  mapboxgl.accessToken = "{{mapboxAPIKey}}";
  var map = new mapboxgl.Map({
    container: 'mapCafe',
    center: [coordinates[1], coordinates[0]],
    zoom: 15, // starting zoom
    style: 'mapbox://styles/mapbox/streets-v9',
  });




  map.addControl(new mapboxgl.NavigationControl())
  
  
    let marker = new mapboxgl.Marker({
      color: '#222222' // Black
    })
      .setLngLat([coordinates[1], coordinates[0]])
      .addTo(map)





</script>